.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
instructions.md
roadmap.md
site/videos/**
site/**
**/*.vsix
node_modules/typescript
node_modules/chevotrain
node_modules/esbuild
node_modules/esbuild-darwin-64
node_modules/eslint
node_modules/rollup
node_modules/@typescript-eslint
node_modules/@types
node_modules/**/*.md
node_modules/conventional-changelog
node_modules/native-run
node_modules/@ionic/eslint-config
node_modules/@ionic/prettier-config
node_modules/**/LICENSE
node_modules/@types
node_modules/@typescript-eslint/**/*
node_modules/husky
**/*.ts
**/*.jar
**/*.map
