**

!node_modules/semver
!node_modules/lru-cache
!node_modules/yallist
!node_modules/fast-xml-parser
!node_modules/strnum
!node_modules/@capacitor/project
!node_modules/@ionic/utils-fs
!node_modules/@ionic/cli
!node_modules/@ionic/cli-framework
!node_modules/@ionic/cli-framework-output
!node_modules/@ionic/cli-framework-prompts
!node_modules/@ionic/utils-array
!node_modules/@ionic/utils-fs
!node_modules/@ionic/utils-network
!node_modules/@ionic/utils-process
!node_modules/@ionic/utils-stream
!node_modules/@ionic/utils-subprocess
!node_modules/@ionic/utils-terminal
!node_modules/chalk
!node_modules/duplexer2
!node_modules/mute-stream
!node_modules/rxjs
!node_modules/figures
!node_modules/through
!node_modules/cli-cursor
!node_modules/inquirer
!node_modules/run-async
!node_modules/isarray
!node_modules/ansi-escapes
!node_modules/supports-color
!node_modules/core-util-is
!node_modules/process-nextick-args
!node_modules/typedarray-to-buffer
!node_modules/util-deprecate
!node_modules/has-flag
!node_modules/readable-stream
!node_modules/is-typedarray
!node_modules/write-file-atomic
!node_modules/imurmurhash
!node_modules/minimist
!node_modules/debug
!node_modules/diff
!node_modules/elementtree
!node_modules/leek
!node_modules/lodash
!node_modules/open
!node_modules/os-name
!node_modules/semver
!node_modules/split2
!node_modules/ssh-config
!node_modules/stream-combiner2
!node_modules/superagent
!node_modules/superagent-proxy
!node_modules/tar
!node_modules/tslib
!node_modules/rimraf
!node_modules/tslib
!node_modules/fs-extra
!node_modules/universalify
!node_modules/graceful-fs
!node_modules/at-least-node
!node_modules/form-data
!node_modules/asynckit
!node_modules/mime-types
!node_modules/fast-safe-stringify
!node_modules/jsonfile
!node_modules/cookiejar
!node_modules/mime-db
!node_modules/delayed-stream
!node_modules/dezalgo
!node_modules/hexoid
!node_modules/mime
!node_modules/methods
!node_modules/formidable
!node_modules/combined-stream
!node_modules/@xmldom/xmldom
!node_modules/is-wsl
!node_modules/os-tmpdir
!node_modules/function-bind
!node_modules/call-bind
!node_modules/has
!node_modules/get-intrinsic
!node_modules/has-symbols
!node_modules/object-inspect
!node_modules/iconv-lite
!node_modules/prettier
!node_modules/side-channel
!node_modules/qs
!node_modules/is-docker
!node_modules/safer-buffer
!node_modules/@prettier/plugin-xml
!node_modules/@xml-tools/parser
!node_modules/chevrotain
!node_modules/regexp-to-ast
!node_modules/xpath
!node_modules/lodash
!node_modules/tempy
!node_modules/unique-string
!node_modules/crypto-random-string
!node_modules/temp-dir
!node_modules/is-stream
!node_modules/del
!node_modules/globby
!node_modules/array-union
!node_modules/external-editor
!node_modules/restore-cursor
!node_modules/merge2
!node_modules/fast-glob
!node_modules/is-glob
!node_modules/is-extglob
!node_modules/mimic-fn
!node_modules/cli-width
!node_modules/chardet
!node_modules/onetime
!node_modules/micromatch
!node_modules/braces
!node_modules/fill-range
!node_modules/to-regex-range
!node_modules/is-number
!node_modules/picomatch
!node_modules/@nodelib/fs.stat
!node_modules/@nodelib/fs.walk
!node_modules/@nodelib/fs.scandir
!node_modules/run-parallel
!node_modules/queue-microtask
!node_modules/fastq
!node_modules/reusify
!node_modules/dir-glob
!node_modules/path-type
!node_modules/ignore
!node_modules/slash
!node_modules/is-path-cwd
!node_modules/is-path-inside
!node_modules/p-map
!node_modules/aggregate-error
!node_modules/indent-string
!node_modules/clean-stack
!node_modules/@ionic/utils-subprocess
!node_modules/@ionic/utils-array
!node_modules/@ionic/utils-process
!node_modules/@ionic/utils-object
!node_modules/@ionic/utils-terminal
!node_modules/@ionic/utils-stream
!node_modules/signal-exit
!node_modules/slice-ansi
!node_modules/is-fullwidth-code-point
!node_modules/astral-regex
!node_modules/ansi-styles
!node_modules/string-width
!node_modules/strip-ansi
!node_modules/ansi-regex
!node_modules/emoji-regex
!node_modules/wrap-ansi
!node_modules/untildify
!node_modules/debug
!node_modules/ms
!node_modules/tree-kill
!node_modules/cross-spawn
!node_modules/which
!node_modules/isexe
!node_modules/path-key
!node_modules/shebang-command
!node_modules/shebang-regex
!node_modules/plist
!node_modules/base64-js
!node_modules/xmlbuilder
!node_modules/xcode
!node_modules/uuid
!node_modules/simple-plist
!node_modules/bplist-creator
!node_modules/stream-buffers
!node_modules/bplist-parser
!node_modules/big-integer
!node_modules/globule
!node_modules/glob
!node_modules/minimatch
!node_modules/lodash
!node_modules/fs.realpath
!node_modules/brace-expansion
!node_modules/concat-map
!node_modules/balanced-match
!node_modules/inherits
!node_modules/path-is-absolute
!node_modules/inflight
!node_modules/wrappy
!node_modules/once
!README.md
!media/**
!resources/**
!CHANGELOG.md
!README.md
!LICENSE
!out/*.js
!log-client/ionic-logger.js