/* You can add global styles to this file, and also import other style files */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

h2,
h3 {
  margin: 0;
}

main > * {
  margin: 1rem 0;
}

.columns {
  display: flex;
  width: 100%;
}

vscode-text-field {
  width: 100%;
}

/* For live editing */
/* body {
  background-color: #2c2c2c;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
} */
