<main>
  <div class="columns">
    <vscode-text-field
      autofocus
      id="sch"
      (keydown.enter)="search()"
      class="wide"
      placeholder="Search for Capacitor and Cordova Plugins"
    >
    </vscode-text-field>
    <vscode-button type="submit" (click)="search()">Search</vscode-button>
  </div>
  <div *ngIf="terms">
    <h1>Search for "{{ terms }}"</h1>
    <vscode-badge>{{ count }} results</vscode-badge>
  </div>
  <div class="panel" *ngFor="let plugin of plugins">
    <plugin [data]="plugin"></plugin>
  </div>
</main>
