<main>
  <div class="columns">
    <vscode-text-field
      autofocus
      id="sch"
      (keydown.enter)="search()"
      class="wide"
      placeholder="Search for Capacitor and Cordova Plugins"
    >
    </vscode-text-field>
    <vscode-button type="submit" (click)="search()">Search</vscode-button>
  </div>
  <div class="two-col">
    <div class="side">
      <p>Compatibility</p>
      <vscode-checkbox>Capacitor 5</vscode-checkbox><br />
      <vscode-checkbox>Capacitor 4</vscode-checkbox><br />
      <vscode-checkbox>Capacitor 3</vscode-checkbox><br />
      <vscode-checkbox>Cordova</vscode-checkbox><br />
      <br />
      <p>Platform</p>
      <vscode-checkbox>Android</vscode-checkbox><br />
      <vscode-checkbox>iOS</vscode-checkbox><br />
      <br />
      <p>Filters</p>
      <vscode-checkbox id="installed" checked>Installed</vscode-checkbox><br />
      <vscode-checkbox>Official Support</vscode-checkbox><br />
    </div>
    <div style="width: 100%" [hidden]="!plugins">
      <p>{{ listTitle }}</p>
      <div class="panel" *ngFor="let plugin of plugins">
        <plugin [data]="plugin"></plugin>
      </div>
    </div>
  </div>
</main>
