.panel {
  background-color: rgba(255, 255, 255, 0.02);
  margin-bottom: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
}

.progress {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-col {
  display: flex;
}

.side {
  min-width: 180px;
}
